<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<connectionStrings>
		<!--<add name="cnstr" connectionString="Data Source=STAFF2;Initial Catalog=Cafe_manage;Integrated Security=True"/>-->
	   		<add name="cnstr" connectionString="Data Source=abcd-PC;Initial Catalog=Cafe_manage;Integrated Security=True"/>
    <!--<add name="cnstr" connectionString="Data Source=L2_141;Initial Catalog=Cafe_manage;Integrated Security=True"/>-->
    <!--<add name="cnstr" connectionString="Data Source=DESKTOP-J6APG29;Initial Catalog=Cafe_manage;Integrated Security=True"/>-->
	</connectionStrings>

</configuration>